/* Quitar valores por defecto */
* {
  margin: 0px;
  padding: 0px;
}
/* Paramentros en general */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/index/mh.jpg");
  background-color: rgba(51, 51, 51, 0.116);
  color: white;
}
/* Cabecera */
#cabecera {
  height: 20vh;
  width: 100vw;
  position: fixed;
}
/* Titulo principal */
#titulo {
  text-align: center;
  background-color: black;
  height: 10vh;
  width: 100vw;
  margin: auto;
  line-height: 10vh;
}
/* Menú de Navegacion */
#menu {
  background-color: rgb(22, 19, 19);
  height: 8vh;
  width: 100vw;
}
#menu ul {
  line-height: 8vh;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  color: white;
  display: block;
  padding: 0vh 10vw;
  text-decoration: none;
}
#menu ul li a:hover {
  background-color: white;
  color: black;
}
main {
  padding-top: 20vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
#contenido {
  background-color: rgb(0, 0, 0);
  margin: auto;
}
/**/
