/* Quitar valores por defecto */
* {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}
/* Paramentros en general */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/images/index/mh.jpg");
  background-color: rgba(180, 12, 12, 0.425);
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
/* Cabecera */
#cabecera {
  height: 20vh;
  width: 100vw;
  position: fixed;
}
/* Titulo principal */
#titulo img {
  float: left;
  height: 10vh;
  width: 10vw;
}
#titulo {
  background-color: black;
  height: 10vh;
  width: 100vw;
  margin: auto;
  line-height: 10vh;
}
#titulo p {
  text-align: left;
  font-size: 6vh;
}
/* Menú de Navegacion */
#menu {
  background-color: rgb(22, 19, 19);
  height: 8vh;
  width: 100vw;
}
#menu ul {
  line-height: 8vh;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  color: white;
  display: block;
  padding: 0vh 6vw;
  text-decoration: none;
}
#menu ul li a:hover {
  background-color: white;
  color: black;
}
main {
  padding-top: 20vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
#contenido {
  background-color: rgb(0, 0, 0);
  margin: auto;
}
#contenido h1 {
  font-size: 3vh;
  padding: 4vh 1vw;
}
#contenido h2 {
  font-size: 2vh;
  padding: 2vh 1vw;
}
#contenido p {
  font-size: 2vh;
  padding: 2vh 1vw;
}
footer {
  height: 100vh;
}
/**/
