/* Quitar valores por defecto */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font-weight: normal;
}
::-webkit-scrollbar {
  display: none;
}
/* Paramentros en general */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/bg.jpg");
  background-color: rgba(15, 31, 63);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(231, 231, 231);
}
/* Menú de Navegacion */
#menu {
  background-color: rgb(22, 28, 38);
}
#menu img {
  width: 14vh;
  height: 14vh;
}
#menu a {
  color: rgb(231, 231, 231);
}
#menu ul li a {
  color: rgb(231, 231, 231);
}
#menu ul li a:hover {
  background-color: rgb(231, 231, 231);
  color: rgb(22, 28, 38);
}
/* Contenido de la pagina (main) */
#contenido {
  background-color: rgb(28, 27, 49);
}
#contenido h1 {
  color: rgb(231, 231, 231);
}
#contenido h2 {
  color: rgb(231, 231, 231);
}
#contenido p {
  color: rgb(231, 231, 231);
}
#contenido p span {
  color: rgb(43, 196, 95);
  font-weight: bold;
}
#drop {
  background-color: rgb(22, 28, 38);
}
#extra {
  background-color: rgb(60, 60, 78);
}
footer {
  color: rgb(255, 196, 0);
  background-color: rgb(40, 0, 54);
}
/**/
